{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SpaceX Launch Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>SpaceX Launch Tracker</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/favorites/">Favorites</a></li>
                    {% if user.is_authenticated %}
                    <p>Hi, {{ user.username }}!</p>
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Log in</a>
                    {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
