{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SpaceX Launch Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>SpaceX Launch Tracker</h1>
                    <nav>
                <div class="nav-links">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/favorites/">Favorites</a></li>
                        {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>

                {% if user.is_authenticated %}
                <div class="user-controls">
                    <p>Hi, {{ user.username }}!</p>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>
                {% endif %}
            </nav>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <canvas id="starfield"></canvas>

</body>
</html>
