{% extends 'launch_tracker/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<section>
    <h2>Register</h2>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error-message">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit">Register</button>
    </form>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}