section {
    padding: 2em;
    text-align: center;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 100%);
}

.launch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2em;
    margin-top: 2em;
    justify-items: center;
}

.launch-card {
    background: linear-gradient(145deg, #222, #333);
    border: 1px solid #444;
    padding: 1.5em;
    border-radius: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    min-height: 500px; /* Задаем минимальную высоту для карточки */
    width: 100%; /* Карточки будут заполнять всю доступную ширину */
    box-sizing: border-box; /* Учитываем padding и border при вычислении ширины */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.launch-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.7);
}

.launch-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5em;
    transition: transform 0.3s;
}

.launch-image:hover {
    transform: scale(1.05);
}

.launch-card h3 {
    font-size: 1.6em;
    color: #00aaff;
    margin-bottom: 0.5em;
}

.launch-card p {
    margin: 0.5em 0;
    color: #ccc;
}

.launch-card .launch-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #bbb;
    font-style: italic;
}

.launch-card a {
    color: #1da1f2;
    text-decoration: none;
    margin-top: 1em;
    font-size: 1.1em;
    display: inline-block;
    transition: color 0.3s;
}

.launch-card a:hover {
    color: #00aaff;
}
